This XML file does not appear to have any style information associated with it. The document tree is shown below.
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.unit9.viking" versionCode="10" version="1.1.0">

<name>Viking River Cruise App</name>
<description>Viking River Cruise App</description>
<author href="http://www.iknowgmo.com" email="viking@iknowgmo.com">Unit9</author>
<icon src="appicon48.png" gap:platform="android" gap:density="mdpi"/>
<icon src="appicon72.png" gap:platform="android" gap:density="hdpi"/>
<icon src="appicon96.png" gap:platform="android" gap:density="xhdpi"/>
<access origin="*.google.com"/>
<access origin="*.googleapis.com"/>
<access origin="*.gstatic.com"/>
<access origin="*.googleusercontent.com"/>
<access origin="google.com" subdomains="true"/>
<access origin="googleapis.com" subdomains="true"/>
<access origin="gstatic.com" subdomains="true"/>
<access origin="googleusercontent.com" subdomains="true"/>
<access origin="*.wikipedia.org"/>
<access origin="wikipedia.org" subdomains="true"/>
<access origin="*.openweathermap.org"/>
<access origin="openweathermap.org" subdomains="true"/>
<preference name="phonegap-version" value="3.0.0"/>
<preference name="load-url-timeout" value="60000"/>
<!--
 <preference name="android-minSdkVersion" value="8" />
    <preference name="android-targetSdkVersion" value="16" /> 
    <preference name="android-maxSdkVersion" value="19" />
-->
<feature name="http://api.phonegap.com/1.0/device"/>
<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/notification"/>
<!--  <gap:platform name="ios" />  -->
<gap:platform name="android"/>
<gap:plugin name="org.apache.cordova.core.camera"/>
<gap:plugin name="org.apache.cordova.core.dialogs"/>
<gap:plugin name="org.apache.cordova.core.inappbrowser"/>
<gap:plugin name="com.phonegap.plugins.pushplugin"/>
<gap:plugin name="org.apache.cordova.geolocation"/>
<gap:plugin name="org.apache.cordova.device-orientation"/>
<gap:plugin name="org.apache.cordova.audiohandler"/>
</widget>